@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: Marhey;
}

.container {
    height: 100vh;
    gap: 2px;
}

header {
    background-color: rgb(0, 139, 56);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 10px;
    padding: 5px 10px;

}

header ul li a:hover {
    background-color: rgba(0, 101, 41, 0.621);
}

#h1 {
    background-color: lightgreen;
    color: white;
    align-items: center;
    text-align: center;
}

#input_container {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.a {
    padding: 10px;
    margin: 5px;
}

#b {
    width: 385px;
    padding: 10px;
}

input {
    background-color: rgb(227, 249, 220);
    border: 1px black solid;
    border-radius: 5px;
}

input::placeholder {
    color: #505050;
}

#c {
    text-align: center;
}

button {
    width: 410px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(201, 242, 188);
    border: 1 black solid;
    border-radius: 5px;
    transition: 0.3s;
}

button:active {
    scale: 0.95;
}

ul {
    list-style-type: none;
}