@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

* {
    font-family: Marhey;
}

body {
    background-color: rgb(223, 223, 223);
}


h1 {
    color: white;
    background-color: rgb(0, 98, 255);
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 50px;
    
}

span {
    font-size: 30px;
}

.a {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    margin: 20px auto;
    
}

h2 {
    color: white;
    background-color: rgb(58, 173, 250);
    border-radius: 10px;
    padding: 5px;
    border: solid 1px black;
}

ul {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}

li {
    margin-right: 10px;
    background-color: rgba(0, 145, 255, 0.199);
    padding: 10px;
    border: solid black 1px;
    border-radius: 5px;

}

button {
    background-color: rgb(58, 173, 250);
    border: solid 1px black;
    border-radius: 2px;
}

button:active {
    background-color: rgb(40, 173, 250);
    scale: 0.9;
}