@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: Marhey;
}

.container {
    height: 100vh;
}

header {
    background-color: rgb(0, 139, 56);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 10px;
    padding: 5px 10px;

}

header ul li a:hover {
    background-color: rgba(0, 101, 41, 0.621);
}

img {
    position: absolute;
    right: 0;
    width: 525px;
}

p {
    font-size: 45px;
}